*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.container{
    margin: 1rem;
}

select{
    margin: 1rem 1rem 1rem 0;
}

button{
    width: 3rem;
    border: 0.5px black solid;
    border-radius: 12%;
  
}

main{
   background-color: orange;
}

